{{ 'section-new-footer.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding new-footer">
    <div class="page-width">
        <div class="new-footer__logo">
            <div class="new-footer__x">X</div>
            <div class="new-footer__headline">
                <div>The</div>
                <div>Ultimate</div>
                <div><strong>Brain</strong></div>
                <div><strong>Performance</strong></div>
                <div><strong>Enhancer</strong></div>
            </div>
        </div>
        <div class="new-footer__disclaimer">
            † — These statements have not been evaluated by the Food and Drug Administration.
            This product is not intended to diagnose, treat, cure, or prevent any disease.
        </div>
        {%- if section.settings.menu != blank -%}
            <ul class="footer-block__details-content list-unstyled">
            {%- for link in section.settings.menu.links -%}
                <li>
                <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                    {{ link.title | replace: 'X', '<span class="brand">X</span>' }}
                </a>
                </li>
            {%- endfor -%}
            </ul>
        {%- endif -%}
        <div class="new-footer__copyright">
            © {{ 'now' | date: '%Y' }} Superhuman Health Inc - All rights reserved
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "New footer",
        "settings": [
            {
                "type": "link_list",
                "id": "menu",
                "label": "Menu"
            },
            {
                "type": "header",
                "content": "Section Padding"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "Padding Top",
                "default": 36
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "Padding Bottom",
                "default": 36
            }
        ],
        "blocks": [],
        "presets": [
            {
                "name": "New footer"
            }
        ]
    }
{% endschema %}